/* Sticky footer styles
-------------------------------------------------- */
#navbar{
  background-color: rgba(0, 0, 0, 0.4);
  color:white;
}

#navbar>a{
  color:white;
}

#section-head{
  background-image: url("../assets/background.jpg");
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 100px;
  background-image: url("../assets/background.jpg");
  background-repeat: repeat;
  color: white;
  /* Margin bottom by footer height */
}

.bg-black{
  background-color: rgba(0, 0, 0, 0.9);
}

.close:focus{
  outline: none;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  /* Set the fixed height of the footer here */
  line-height: 60px;
  /* Vertically center the text there */
  color:white;
  background-color: rgba(0, 0, 0, 0.4);
}

/*Section Buttons*/

.btn-outline-dark{
  color:white !important;
}

.btn-outline-dark:hover{
  background-color: black !important;
}

/* Github Calendar*/
.calendar{
  background-color: rgba(255, 255, 255, 0.9);
}

.section{
  background-color: rgba(0, 0, 0, 0.4);
}

.copyright-text {
  padding-top: 20px
}

/*Sub-Container */
.sub-container{
  background-color:transparent;
}

/* Projects links */
.project-link {
  margin-right: 10px;
}

/*Own Icons Skills*/
.ownIcon-5x{
  height: 80px;
  width: 80px;
}
.ownIcon-4x{
  height: 64px;
  width: 64px;
}
.ownIcon-3x{
  height: 48px;
  width: 48px;
}

/* Media logos */
.social-icon {
  padding-left: 20px;
}

/*Preloader */
.fa-spinner{
  color: white;
}

.repository_lock{
  text-shadow: 0px 0px 10px #000;
}